@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --preto: #000000;
    --roxo-degrade: linear-gradient(97.54deg, #630756 35.49%, #db37e0 165.37%);
    --fonte-principal: "Poppins";
    --roxo: #d000fa;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}